#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #f9cbd6;
}
.imgDiv {
  background-image: url( './components/image/d99d59552e75f370e385388eb22bcd64.jpg');
  background-position: left;
  height: 30vh;
  width: 30vw;
  border-radius: 1rem .3rem;
}
.noBtn {
  margin-left: 3ch;
}
.noBtn:hover {
  outline: none;
  border-color: #000;
  cursor: help;
  opacity: 1;
  animation: none;
  transform: scale( .8 );
}
img {
  height: 20ch;
  width: 15ch;
}
.wine {
  margin-right: 2ch;
}
a {
  text-decoration: none;
}